.techStack {
  padding-left: 120px;
  margin: 26px 0px;
}
.tech-icon {
  margin-right: 3px;
}
.card {
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card:hover {
  background-color: rgb(4, 160, 111);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 1s;
}

/*Responsive*/
@media (max-width: 600px) {
  .techStack {
    padding: 0;
    margin: 0;
    margin-top: 30px;
  }
}
