.education {
  margin: 26px auto;
  width: 89%;
  padding: 12px;
  /* padding-left: 120px; */
  margin-left: 120px;
  background-color: black;
  border-radius: 5px;
}

/*Responsive */
@media (max-width: 600px) {
  .education {
    margin: 0;
    padding: 0;
    width: 100%;
    padding-top: 22px;
    margin-top: 10px;
  }
}
